{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<span><h1> Panier </h1></span>
<table class="table col-12 align-middle">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">prix avec TVA</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  
  <tbody>
  {#{% for article in articles %}#}
    <tr>
      <td>image du produit</td>
      <td>nom du produit</td>
      <td>prix</td>
      <td>quantité</td>
      <td>prix avec tva</td>
      <td><a href="#" class="text-decoration-none text-dark"><i class="ri-delete-bin-2-line ri-xl "></i></a></td>
    </tr>
    {#{% endfor %}#}
  </tbody>
</table>

</div>
{% endblock %}
