{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}
{% for article in articles %}
        <li>Id :{{article.idarticle}}</br>Libellé :{{article.nomarticle}}</li>
    {% endfor %}
    

    <!-- Catégories - consoles - jeux -->

   <ul class="nav justify-content-start">
        <li class="nav-item">
            <a class="nav-link active text-dark font-weight-bold" href="#">All categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-bold" href="#">Consoles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-bold" href="#">Jeux</a>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link disabled text-dark font-weight-bold" href="#" tabindex="-1"
                aria-disabled="true">Disabled</a>
        </li>
     -->
    </ul>
    <br>
    <!-- Cartes - rang 1 -->

    <div class="card-deck d-flex justify-content-center">
        <div class="card col-4">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="col-6 text-center text-dark" href="#">Description</small>
                <small class="col-6 text-center text-success" href="#">prix</small>
            </div>
            <div class="card-footer">
                <small class="col-6 text-center text-dark" href="#">logo</small>
                <small class="col-6 text-center text-dark">Rating</small>
                <button type="button" class="float-right btn btn-success">+</button>
            </div>
        </div>

        <div class="card col-4">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="col-6 text-center text-dark" href="#">Description</small>
                <small class="col-6 text-center text-success" href="#">prix</small>
            </div>
            <div class="card-footer">
                <small class="col-6 text-center text-dark" href="#">logo</small>
                <small class="col-6 text-center text-dark">Rating</small>
                <button type="button" class="float-right btn btn-success">+</button>
            </div>
        </div>

        <div class="card col-4">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="col-6 text-center text-dark" href="#">Description</small>
                <small class="col-6 text-center text-success" href="#">prix</small>
            </div>
            <div class="card-footer">
                <small class="col-6 text-center text-dark" href="#">logo</small>
                <small class="col-6 text-center text-dark">Rating</small>
                <button type="button" class="float-right btn btn-success">+</button>
            </div>
        </div>
        <br>

        <!-- Cartes - rang 2 -->

        <div class="card-deck d-flex justify-content-center">
            <div class="card col-4">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="col-6 text-center text-dark" href="#">Description</small>
                    <small class="col-6 text-center text-success" href="#">prix</small>
                </div>
                <div class="card-footer">
                    <small class="col-6 text-center text-dark" href="#">logo</small>
                    <small class="col-6 text-center text-dark">Rating</small>
                    <button type="button" class="float-right btn btn-success">+</button>
                </div>
            </div>

            <div class="card col-4">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="col-6 text-center text-dark" href="#">Description</small>
                    <small class="col-6 text-center text-success" href="#">prix</small>
                </div>
                <div class="card-footer">
                    <small class="col-6 text-center text-dark" href="#">logo</small>
                    <small class="col-6 text-center text-dark">Rating</small>
                    <button type="button" class="float-right btn btn-success">+</button>
                </div>
            </div>

            <div class="card col-4">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <small class="col-6 text-center text-dark" href="#">Description</small>
                    <small class="col-6 text-center text-success" href="#">prix</small>
                </div>
                <div class="card-footer">
                    <small class="col-6 text-center text-dark" href="#">logo</small>
                    <small class="col-6 text-center text-dark">Rating</small>
                    <button type="button" class="float-right btn btn-success">+</button>
                </div>
            </div>

            <br>

</body>
{% endblock %}
